.main-card__input_name {
    margin-bottom: 31px;
    width: 100%;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #435F40;
}