.main-card__img {
    margin: 0 auto;
    background-image: url(../../../vendor/images/girrafs/girraf\ \(1\).png);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 16px;
}