.volume__text_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
    line-height: 60px;
    }