
@import url('./__button/popover__button.css');
@import url('./__fon/popover__fon.css');
@import url('./_state/_enabled.css');
@import url('./_state/_disabled.css');


    
.popover {
    width: 174px;
    height: 94px;
    border-radius: 20px;
    background-color: rgba(102, 134, 99, 1);
    left: -50px;
    top: 20px;
    z-index: 2;
    padding: 15px 10px;
}





