

.aside__item-box {
   width: 237px;
   height: 51px;
   border-radius: 52px;
   padding: 11px 0px 12px 16px;
   box-sizing: border-box;
   margin-bottom: 27px;
   display: flex;

}

.aside__item-box:hover {
   cursor: pointer;
   background-color: #fff;
   color: #567354;
}